:root {
  --main-color: rgb(119, 0, 255);
}

#root {
  min-height: 100vh;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#login-container {
  min-height: 100vh;
}

/* .css-b62m3t-container {
  width: 200px;
} */

.container-fluid {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: drop 1s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media screen and (min-width:900px) {
  #test {
  width:20%;
  }
}


label {
  margin: 5px;
  /* display: grid;
  justify-content: center; */
}


.submitButton {
  margin-top:10px;
}

