:root {
  --main-color: rgb(119, 0, 255);
}

#root {
  min-height: 100vh;
  color: white;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#login-container {
  min-height: 100vh;
}

#LoginBtn {
  width: 200px;
}

.container-fluid {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: drop 1s ease;
}

#projectmenu {
  align-items: normal;
  padding-top: 2rem;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (min-width: 900px) {
  #test {
    width: 20%;
  }
}

label {
  margin: 5px;
}

.submitButton {
  margin-top: 10px;
}

#datepickertest {
  border-radius: 0.35rem;
  min-height: 2.4rem;
  font-weight: 400;
}

.content {
  animation: drop 1s ease;
  padding-top: 10px;
}

.Select {
  z-index: 1;
}

.container-fluid-test {
  display: flex;
  min-height: 80vh;
  gap: 0.5rem;
  animation: drop 1s ease;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.container-fluid-test1 {
  display: flex;
  gap: 0.5rem;
  animation: drop 1s ease;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-fluid-test2 {
  display: flex;
  gap: 0.5rem;
  animation: drop 1s ease;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.css-26l3qy-menu {
  z-index: 10 !important;
}
