:root {
  --main-color: rgb(119, 0, 255);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: drop 1s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
